* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;600;&display=swap');

body {
    font-family: 'Roboto' !important;

}

.main {
    display: flex;
}


/* seccion button */
.button-container {
    display: flex;
    justify-content: center;
    height: 9.3em;
    align-items: center;
}
.button button {
    width: 11.7em;
    height: 3.1em;
    background-color: #A491D2;
    border: none;
    color: white;
}
/* al momento de pasar el curso por encima del boton cambia su opacidad */
button:hover{
    opacity: 50%;
}
/* al momento de hacer click en el boton cambia color de boton */
button:focus{
    background-color: #BEC1BB;
}

/* seccion estado */
.fotoestado {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
}
.fotoestado img {
    height: 2.2em;
    width: 2.2em;
    border-radius: 100%;
}


/* seccion chatlist */
.container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #BEC1BB;
    margin: 0.6em;
}
.chat-menu {
    width: 20vw;
    background-color: #F8F9FA;
}
.chat-menu img {
    width: 3.1em;
    height: 3.1em;
}
.fotoperfil {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
}
.fotoperfil img {
    border-radius: 100%;
}
.informacion{
    width: 9.4em;
}
.informacion h5{
    font-weight: 600;
}

/* seccion comienza */
.nertworking {
    height: 100vh;
    width: 70vw;
    background-color: #F8F8F8;
}
.nertworking img {
    width: 15.7em;
    height: 15.7em;
    padding: 1.3em;
}
.nertworking {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nertworking h1 {
    font-size: 3.1em;
    align-self: center;
}
.nertworking p {
    align-self: center;
    font-size: 1em;
}
.nertworking img {
    align-self: center;
}